
.container1{
        max-width: 640px;
        height: 350px;
        margin:50px auto;
        background-color: #666666;
        border-radius: 20px;
        padding: 20px;
        box-shadow: .2em .3em .3em .2em;
        }
.container2{
         max-width: 640px;
        height: 350px;
         margin:50px auto;
        background-color: #ff1616;
        border-radius: 20px;
        padding: 20px;
        box-shadow: .2em .3em .3em .2em;
        }
        
.body{
background-color: rgb(241, 205, 166);
padding: 0;
font-size: 1.3em;
    }
